<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><b>ONLINE BOOK STORE</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

          
            <a class="active" href="/bookshome"><i class="fa fa-2x fa-home"></i></a>
          <div style="padding-left: 20px;">
          <a href="/login"><i class="fa fa-2x fa-user"></i></a>
        </div>
        <div style="padding-left: 20px;">
          <a href="/cart"><i class="fa fa-2x fa-shopping-cart"></i></a>
        </div>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" id="in" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-secondary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

<div id="book">
  <section class="mt-3">
    <div class="container">
    <div class="row">
    <div class="col-md-3">
    <div class="card shadow-lg">
    <img src="../../assets/006.jpg" alt="" class="img-fluid" >
    <div class="card-body">
    <p class="h3">Harry Potter and the Philosiphers Stone
    </p>
    <p> The first novel in the Harry Potter series and Rowling's debut novel, it follows Harry Potter</p>
        <p><b>Price : $25</b></p>
        <p><b>Qty : 10</b></p>
        <a routerLink="showdetails"><button type="button" class="btn btn-primary btn-sm">Show Details</button></a>
        <span style="margin-left: 55px;">
          <a routerLink="Cart"><button type="button" class="btn btn-secondary btn-sm">Add to Cart</button></a>
        </span>
    </div>
    </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-lg">
      <img src="../../assets/002.jpg" alt="" class="img-fluid">
      <div class="card-body">
      <p class="h3">Harry Potter and the Phrisoner of Azakban
      </p>
      <p> The book follows Harry Potter, a young wizard, in his third year at Hogwarts School of Witchcraft and Wizardry. Along with friends Ronald Weasley and Hermione Granger, Harry investigates Sirius Black.</p>
          <p><b>Price : $35</b></p> <p><b>Qty : 10</b></p>
          <a routerLink="showdetails"><button type="button" class="btn btn-primary btn-sm">Show Details</button></a>
          <span style="margin-left: 55px;">
            <a routerLink="Cart"><button type="button" class="btn btn-secondary btn-sm">Add to Cart</button></a>
          </span>
      </div>
      </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow-lg">
        <img src="../../assets/003.jpg" alt="" class="img-fluid">
        <div class="card-body">
        <p class="h3">Bed Time Stories
        </p>
        <p> A bedtime story is a traditional form of storytelling, where a story is told to a child at bedtime to prepare the child for sleep. The bedtime story has long been considered "a definite institution in many families"</p>
            <p><b>Price : $15</b></p> <p><b>Qty : 10</b></p>
            <button type="button" class="btn btn-primary btn-sm">Show Details</button>
            <span style="margin-left: 55px;">
              <a routerLink="Cart"><button type="button" class="btn btn-secondary btn-sm">Add to Cart</button></a>
            </span>
        </div>
        </div>        
        </div>
        <div class="col-md-3">
          <div class="card shadow-lg">
          <img src="../../assets/004.JPG" alt="" class="img-fluid">
          <div class="card-body">
          <p class="h3">Forest of the dark
          </p>
          <p> The Dark Forest is a 2008 science fiction novel by the Chinese writer Liu Cixin. It is the sequel to the Hugo Award-winning novel The Three-Body Problem in the trilogy titled "Remembrance of Earth's Past".</p>
              <p><b>Price : $10</b></p> <p><b>Qty : 10</b></p>
              <button type="button" class="btn btn-primary btn-sm">Show Details</button>
              <span style="margin-left: 55px;">
                <a routerLink="Cart"><button type="button" class="btn btn-secondary btn-sm">Add to Cart</button></a>
              </span>
          </div>
          </div>
          </div>
        </div>
    </div>
    </section>
    <section class="mt-3">
      <div class="container">
      <div class="row">
      <div class="col-md-3">
      <div class="card shadow-lg">
      <img src="../../assets/005.jpg" alt="" class="img-fluid">
      <div class="card-body">
      <p class="h3">A Deslation Called Peace
      </p>
      <p> This is a space opera science fiction novel by Arkady Martine. It is the sequel to A Memory Called Empire, and the second novel in Martine's Teixcalaan series. Like its predecessor, the book won the Hugo Award for Best Novel, in 2022.</p>
          <p><b>Price : $5</b></p> <p><b>Qty : 10</b></p>
          <button type="button" class="btn btn-primary btn-sm">Show Details</button>
          <span style="margin-left: 55px;">
            <a routerLink="Cart"><button type="button" class="btn btn-secondary btn-sm">Add to Cart</button></a>
          </span>
      </div>
      </div>
      </div>
    </div>
    </div> 
    </section>
  </div>