
  <div class="row no-gutters">

    <div class="col no-gutters">
      <div class="d-flex justify-content-center align-items-center">
        <h1>ONLINE BOOK STORE</h1>
      </div>
        <div class="left d-flex justify-content-center align-items-center">
            <div style="font-family: fantasy;"><h1>Up to 50% off 
                on Sci-Fi
                 Books</h1>
                 <div class="d-flex justify-content-center align-items-center" style="font-family:Arial, Helvetica, sans-serif;">
                
                     <button type="button" routerLink="bookshome" class="btn btn-outline-dark">Shop Now</button>

                 </div>
                </div>
                
        </div>
    </div>

    <div class="col no-gutters">
        <div class="right">
            <div class="bg"></div>
        </div>
    </div>

  </div>